*{
	margin: 0;
	padding: 0;
}

body{
	font: 15px Arial, Helvetica,sans-serif;
	background-color:#ecf0f1;
}

/*--------------------------------------------------------------------------------------------------------------------*/

/*Header Style*/
header{
	background:#35424a;
	color:#ffffff;
	padding:10px 0 5px 0;
	height:45px;
	border-bottom:#49975B 5px solid;
	position: fixed; /*fixed header*/
	width: 100%;	 /* "       "  */
	top: 0;			 /* "       "  */

}
.container{
	width:85%;
	margin:auto;
	overflow:hidden;
}
header #sitename img{
	float: left;
	height: 40px;
	width: auto;
	margin-right: 10px;
}
header #sitename h1{
	float:left;
	text-transform: uppercase;
}
header nav{
	float:right;
}
header li{
	float:left;
 	display:inline;
 	margin: 0 20px 0 20px;
	padding: 9px 0 5px 0;
}
header a{
	color:#ffffff;
	text-decoration:none;
	text-transform: uppercase;
}

.logout{
	border: solid 1px #49975B;
	border-radius: 6px;
	padding: 3px 9px 3px 9px;
	margin-top: 4px;
	background-color: #49975B;
}

/*-----------------------------------------------------------------------------------------------------*/

/*Side Bar Style*/
aside{
	height: 100%; /* Full-height */
	width: 200px; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	float: left;
	background:#585F64;
	top: 65px;
	
}
aside ul li{
	padding: 15px 20px 15px 30px;
	border-bottom: 1px solid rgba(255,255,255,0.7);
}
aside a{
	text-decoration:none;
	color: #FFFFFF;

}
.active{
	border-left:5px solid #23B444;
	padding-left: 25px;
}
aside ul li:hover{
	background: #23B444;
}
/*--------------------------------------------------------------------------------------------------------*/

/* Style page content */
.content{
	margin-left: 200px; /* Same as the width of the sidebar */
	margin-top: 75px;
}
.content h1{
	background-color: #FFFFFF;
	margin: 10px;
	padding: 10px;
	box-shadow:0px 0px 5px 1px grey;/*Values:-(h-offset,v-offset,blur,spread,color)*/
}


/*---------------------------------------------------------------------------------------------------------*/

/*User Profile & User Question*/
table.edit_user  ,  table.QnAtable{
	margin: 10px;
	border-collapse: collapse;
}
table.edit_user tbody  ,  table.QnAtable tbody{
	box-shadow:0px 0px 5px 2px grey;
}
table.edit_user th  ,  table.QnAtable th{
	background: #85D58D;
	text-transform: uppercase;
	text-align: right;
}
table.edit_user th,table.edit_user td  ,  table.QnAtable th, table.QnAtable td{
	padding: 10px;
	border: 1px solid #aaa;
}
table.edit_user tfoot td  ,  table.QnAtable tfoot td{
	border: none;
}
.txtarea , .listbox{
	font: 14px Arial, Helvetica,sans-serif;	
	resize: none;
	padding: 5px;
}
.listbox{
	width:100%;
}
table.QnAtable input[type="text"]{
	width:97%;
}
.detailhead{
	vertical-align: top;
}

/*--------------------------------------------------------------------------------------*/
/*change-password*/
.content input{
	padding: 5px;
}
.content input[type="submit"]{
    border: none;
    outline: none;
    height: 30px;
    background: #22b14c;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
table.change_pass {
	margin: 10px;
	width: 50%;
	border-collapse: collapse;
	

}
table.change_pass tbody{
	box-shadow:0px 0px 5px 2px grey;
}

table.change_pass th {
	background: #85D58D;
	text-transform: uppercase;
	font-size: 14px;
	width: 40%;
	text-align: right;
}

table.change_pass th, table.change_pass td {
	padding: 10px;
	border: 1px solid #aaa;
}
table.change_pass tfoot td{
	border: none;
}
.msg{
	display: none;
    margin: 5px 10px;
    padding: 10px;
	color: white;
    border: solid #188037 1px;
    background-color: #22b14c;
    border-radius: 5px;
    text-align: center;
}
#error {
    display: none;
    color: white;
    border: solid #A50000 1px;
    background-color: #E31F1F;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    text-align: center;
}
/*-------------------------------------------------------------------*/
/*question row*/
.back_btn {
	text-decoration: none;
	color: #008000;
	border: 1px solid #008000;
	padding: 5px;
	border-radius: 5px;
}
.subtopic{
	margin: 10px;
	color: #016F01;
	text-decoration: underline;
	font-size: 22px;

}
.qn_row,.answer{
	margin: 10px;
	padding: 10px;
	background-color: #D9F5D0;
}
.qn_row h2,.qn_row h3{
	margin: 10px;
}
.qn_row span{
	margin: 0 10px;
	font-size: 14px;
}
.small_icon{
	width: 15px;
	height: 15px;
	margin-right: 10px;
}
.qn_row p{
	text-align: justify;
	margin: 15px 10px;
}
